<html>
  <head>
    <title>Template</title>
  </head>
  <body>
    <h1>VOICI MON TEMPLATE EJS</h1>
    <p>Voici un mon premier template avec le middleware <b>ejs</b> pour le moment je n'ai que du contenu statique.</p>
  </body>
</html>
