<html>
  <head>
    <title>DESCRIPTION HERO</title>
  </head>
  <body>
    <h1>DESCRIPTION DE <%= hero.toUpperCase() %> </h1>
    <p>Véritable identité : <%= desc.identite %></p>
    <p>Ville : <%= desc.ville %> </p> 
  </body>
</html>