<html>
  <head>
    <title>ROOM</title>
  </head>
  <body>
    <h1>ROOM</h1>
    <p>Bonjour <%= login %></p>
    <p>Votre id : <%= id %> </p> 
    <p>Votre profil : <%= profil %></p>
  </body>
</html>