<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>accueil</title>
  </head>
  <body>
    <h1>VOUS ÊTES SUR L'APPLICATION <%= title.toUpperCase() %></h1>
    <h2>BIENVENU</h2>
  </body>
</html>