<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Etage <%= etage %></title>
  </head>
  <body>
    <h1>VOUS ÊTES SUR LA PAGE ETAGE <%= etage %></h1>
    <ul>
      <li><a href="batiment/etage/1/bureau/1">bureau 1</a></li>
      <li><a href="batiment/etage/1/bureau/2">bureau 2</a></li>
    </ul>
  </body>
</html>
